@font-face {
    font-family: 'Lato';
    src: url('assets/Lato-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('assets/Lato-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: light;
}

@font-face {
    font-family: 'Lato';
    src: url('assets/Lato-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: bold;
}

@font-face {
    font-family: 'Lato';
    src: url('assets/Lato-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: bold-black;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 16px;
    line-height: 24px;
}

.portfolio {
    position: relative;
    padding-top: 67px;
    padding-bottom: 72px;
    background-color: #2d303a;
}

.portfolio__title,
.portfolio__filter,
.portfolio__works {
    max-width: 940px;
    margin: 0 auto;
}

.portfolio__header {
    margin: 0;
    margin-top: 2px;
    margin-bottom: 28px;
    padding: 0;
    font-size: 30px;
    line-height: 18px;
    font-weight: 900;
    letter-spacing: -0.20px;
    color: #666d89;
}

.portfolio__desc {
    margin: 0;
    margin-bottom: 7px;
    padding: 0;
    font-size: 18px;
    line-height: 30px;
    font-weight: 300;
    letter-spacing: 0.01px;
    color: #767e9e;
}

.portfolio__filter-btn {
    height: 20px;
    margin: 0;
    margin-right: 9.6px;
    padding: 0;
    padding-left: 6.55px;
    padding-right: 6.55px;
    font-size: 11.3px;
    line-height: 18px;
    font-weight: 400;
    letter-spacing: 0.22px;
    color: #767e9e;
    box-shadow: 0 0 0 1px #767e9e;
    border-radius: 4px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.4s ease;
}

.portfolio__filter-btn:hover {
    color: #dedede;
    box-shadow: 0 0 0 1px #c5c5c5;
}

.portfolio__filter-btn:focus {
    color: #dedede;
    box-shadow: 0 0 0 1px #c5c5c5;
}

.portfolio__filter-btn:last-child {
    margin-right: 0;
}

.portfolio__filter {
    margin-bottom: 20px;
}

.portfolio__filter-btn--active {
    color: #dedede;
    box-shadow: 0 0 0 1px #c5c5c5;
}

.portfolio__works {
    position: relative;
    overflow: hidden;
    height: 602px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.portfolio:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 6px;
    background-color: #323746;
}

.portfolio__works-item {
    width: 220px;
    height: 187px;
    margin-bottom: 20px;
    background-color: #dddddd;
}

.about-us {
    position: relative;
    padding-top: 66px;
    background-color: #f2f2f2;
}

.about-us__title,
.about-us__people {
    width: 940px;
    margin: 0 auto;
}

.about-us__header {
    margin: 0;
    margin-top: 2px;
    margin-bottom: 27px;
    padding: 0;
    font-size: 30px;
    line-height: 18px;
    font-weight: 900;
    letter-spacing: -0.20px;
    color: #666d89;
}

.about-us__desc {
    margin: 0;
    margin-bottom: 45px;
    padding: 0;
    font-size: 18px;
    line-height: 30px;
    font-weight: 300;
    letter-spacing: 0.0.5px;
    color: #767e9e;
    text-align: justify;
}

.about-us__people {
    display: flex;
    padding-bottom: 73px;
}

.about-us__people-item {
    max-width: 300px;
}

.about-us__photo {
    width: 100%;
    margin-bottom: 11px;
}

.about-us__people-item:nth-child(1) {
    margin-right: 19px;
}

.about-us__people-item:nth-child(2) {
    margin-right: 21px;
}

.about-us__name {
    width: 300px;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    font-size: 18px;
    line-height: 18px;
    font-weight: 900;
    letter-spacing: -0.20px;
    white-space: nowrap;
    color: #666d89;
}

.about-us__desc-people {
    margin: 0;
    margin-bottom: 24px;
    padding: 0;
    font-size: 12px;
    line-height: 21px;
    font-weight: 400;
    letter-spacing: -0.065px;
    color: #767e9e;
    text-align: justify;
    white-space: normal;
}

.about-us__social {
    width: 152.2px;
    display: flex;
    justify-content: space-between;
}

.about-us__social-link {
    display: block;
    width: 32px;
    height: 32px;
    font-size: 0;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transition: all 0.4s ease;
    border-radius: 50%;
}

.about-us__social-link:hover {
    background-color: #dddddd;
}

.about-us__social-link--facebook {
    background-image: url('assets/i-facebook.png');
}

.about-us__social-link--google-plus {
    background-image: url('assets/i-google-plus.png');
}

.about-us__social-link--twitter {
    background-image: url('assets/i-twitter.png');
}

.about-us__social-link--linked-in {
    background-image: url('assets/i-linked-in.png');
}

.about-us:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 6px;
    background-color: #ffffff;
}

