@font-face {
    font-family: 'Lato';
    src: url('assets/Lato-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('assets/Lato-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: light;
}

@font-face {
    font-family: 'Lato';
    src: url('assets/Lato-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: bold;
}

@font-face {
    font-family: 'Lato';
    src: url('assets/Lato-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: bold-black;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 16px;
    line-height: 24px;
}

.contact-page {
    position: relative;
    width: 100%;
    height: 654px;
    background-color: #f06c64;
}

.contact-page:before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 6px;
    background-color: #ea676b;
}

.contact__wrapper {
    max-width: 940px;
    margin: 0 auto;
    padding-top: 68px;
}

.contact__headline {
    margin: 0;
    margin-bottom: 27px;
    padding: 0;
    font-size: 30px;
    line-height: 18px;
    font-weight: 900;
    letter-spacing: -0.2px;
    color: #f0d8d9;
    text-align: justify;
}

.contact__desc {
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 30px;
    font-weight: 300;
    letter-spacing: 0.0.1px;
    color: #f0d8d9;
    text-align: justify;
}

.form-block {
    display: flex;
    justify-content: space-between;
    max-width: 940px;
    margin-top: 44px;
}

.form__user {
    width: 620px;
}

.form__user-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.form__user-list-item {
    width: 100%;
}

.form__user-submit {
    width: 140px;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: #ffd3d1;
    cursor: pointer;
    transition: all 0.4s ease;
}

.form__user-submit:hover {
    background-color: #ffc2bf;
}

.form__user-list-input {
    width: 605px;
    height: 36px;
    margin-bottom: 16px;
    padding-left: 14px;
    border: none;
    border-radius: 5px;
    background-color: #d6564f;
    color: #ffffff;
}

.form__user-list-input::placeholder {
    margin: 0;
    padding: 0;
    font-size: 11px;
    line-height: 22px;
    font-weight: 400;
    letter-spacing: 0.3px;
    color: #f48c8f;
    text-align: justify;
}

.form__user-list-area {
    width: 603px;
    height: 193px;
    padding-left: 14px;
    padding-top: 7px;
    border: none;
    border-radius: 5px;
    background-color: #d6564f;
    resize: none;
}

.form__user-list-area::placeholder {
    margin: 0;
    padding: 0;
    font-family: 'Lato';
    font-size: 11px;
    line-height: 22px;
    font-weight: 400;
    letter-spacing: 0.4px;
    color: #f48c8f;
    text-align: justify;
}

.form__info {
    width: 300px;
}

.form__info-headline {
    margin: 0;
    margin-bottom: 9px;
    padding: 0;
    font-size: 18px;
    line-height: 18px;
    font-weight: 900;
    letter-spacing: -0.08px;
    color: #f0d8d9;
    text-align: justify;
}

.form__info-desc {
    margin: 0;
    margin-bottom: 18px;
    padding: 0;
    font-size: 12px;
    line-height: 22px;
    font-weight: 400;
    letter-spacing: -0.05px;
    color: #f0d8d9;
    text-align: justify;
}

.form__info-list {
    margin: 0;
    margin-left: 23px;
    padding: 0;
    list-style: none;
}

.form__info-list-item {
    margin: 0;
    margin-bottom: -3.8px;
    padding: 0;
}

.form__info-list-paragraph {
    position: relative;
    margin: 0;
    padding: 0;
    font-size: 12px;
    line-height: 22px;
    font-weight: 400;
    letter-spacing: -0.05px;
    color: #f0d8d9;
    text-decoration: none;
    text-align: justify;
}


.form__info-list-paragraph:before {
    content: '';
    position: absolute;
    left: -23px;
    top: 2px;
    width: 12px;
    height: 11px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}


.form__info-list-paragraph--adress:before {
    background-image: url('assets/i-location.png');
}

.form__info-list-paragraph-tel:before {
    background-image: url('assets/i-phone-small.png');
}

.form__info-list-paragraph--mail:before {
    width: 13px;
    height: 12px;
    background-image: url('assets/i-mail.png');
    background-position: bottom center;
}

.contact-footer {
    width: 100%;
    background-color: #2d303a;
}

.contact-footer__wrapper {
    display: flex;
    justify-content: space-between;
    width: 940px;
    height: 54px;
    margin: 0 auto;
    padding-top: 22px;
}

.contact-footer__cop {
    margin: 0;
    margin-left: 2px;
    margin-top: 4px;
    padding: 0;
    font-size: 12px;
    line-height: 22px;
    font-weight: 400;
    letter-spacing: -0.15px;
    color: #666d89;
    text-decoration: none;
    text-align: justify;
}

.contact-footer__social {
    width: 152px;
}

.contact-footer__social {
    width: 152.2px;
    display: flex;
    justify-content: space-between;
}

.contact-footer__social-link {
    display: block;
    width: 32px;
    height: 32px;
    font-size: 0;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transition: all 0.4s ease;
    border-radius: 50%;
}

.contact-footer__social-link:hover {
    background-color: #dddddd;
}

.contact-footer__social-link--facebook {
    background-image: url('assets/i-facebook.png');
}

.contact-footer__social-link--google-plus {
    background-image: url('assets/i-google-plus.png');
}

.contact-footer__social-link--twitter {
    background-image: url('assets/i-twitter.png');
}

.contact-footer__social-link--linked-in {
    background-image: url('assets/i-linked-in.png');
}